<h1>ログイン画面</h1>

<%= form_with scope: :session, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "ユーザーネーム"%>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :password, "パスワード"%>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "ログインする" %>
<% end %>
