<div class="container">
  <h1>管理画面 | トピック一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>created_at</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.id %></td>
        <td><%= contest.title %></td>
        <td><%= contest.created_at %></td>
        <!-- ToDo: 編集画面を追加-->
        <td>編集</td>
        <td><%= link_to '削除', contest_delete_path(contest.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to "HOME", admin_home_index_path %>
  </div>
</div>
