<h2>トピック一覧</h2>
<ul>
  <% @topics.each do |topic| %>
    <div class = topic_content>
      <%= link_to topic.title, topics_show_path(topic.id) %>
      <%= link_to '[削除]', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %> 
    </div>
  <% end %>
</ul>

<h2>トピック新規登録</h2>
<%= form_for @newTopic, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit(['新しいトピックを追加']) %>
<% end %>
