<div class="container">
  <h1>管理画面 | トピック一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>created_at</th>
        <!-- ToDo: 編集画面を追加-->
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.id %></td>
        <td><%= topic.title %></td>
        <td><%= topic.created_at %></td>
        <td>編集</td>
        <td><%= link_to '削除', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to "HOME", admin_home_index_path %>
  </div>
</div>
