<!DOCTYPE html>
<html>
  <head>
    <title>Atcoder Hub</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand " href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to 'Mypage', mypage_index_path, class:"nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to 'Logout', logout_path, method: :delete, class:"nav-link" %>
              <% else %>
                <%= link_to 'Login', login_path, class:"nav-link" %>
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>
        <%= link_to 'Atcoder Hub', root_path %>
      </h1>
      <p>本サイトは分からなかった問題の検討や議論を出来る場を提供しています。(仮)</p>
      
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
