<!DOCTYPE html>
<html>
  <head>
    <title>Atcoder Hub</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <nav class="navibar">
        <ul id="main">
          <li><%= link_to 'Home', root_path %></li>
          <li>About</li>
          <li>Mypage</li>
          <li>
            <% if current_user %>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% else %>
              <%= link_to 'Login', login_path %>
            <% end %>
          </li>          
          <li>Contact</li>
          <div id="marker"></div>
        </ul>
      </nav>
      <h1>
        <%= link_to 'Atcoder Hub', root_path %>
      </h1>
      <p>本サイトは分からなかった問題の検討や議論を出来る場を提供しています。</p>
      
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
